/** single-backtick code formatting */

/* make the foreground of single backtick code
 * formatted text the same as the usual text 
 * color in reading mode. */
.markdown-preview-section code {
    color: var(--text-normal);
}

/* make editing mode inline `code` backgrounds
 * visually match how they look in reading mode */
.cm-inline-code {
    background-color: var(--pre-code) !important;
    color: var(--text-normal) !important;
}

/** triple-backtick code blocks */

/* match editing mode code block background to reading mode */
.HyperMD-codeblock-bg {
    background-color: var(--pre-code) !important;
}

/* match editing mode code block text color to reading mode */
.HyperMD-codeblock {
    color: var(--code-block) !important;
}

